$background: #081b21; // #2e3440;
$foreground: #e7e0d7; // #d8dee9;
$ansiBlack: #102c33; // #3b4252;
$ansiRed: #b34f52; // #bf616a;
$ansiGreen: #8cbca1; // #a3be8c;
$ansiYellow: #887a67; // #ebcb8b;
$ansiBlue: #65778b; // #81a1c1;
$ansiMagenta: #e7657d; // #b48ead;
$ansiCyan: #67b3b0; // #88c0d0;
$ansiWhite: #f2f0c2; // #e5e9f0;
$ansiBrightBlack: #2b5e70; // #4c566a;
$ansiBrightRed: #dc6253; // #bf616a;
$ansiBrightGreen: #aed6b5; // #a3be8c;
$ansiBrightYellow: #bcb096; // #ebcb8b;
$ansiBrightBlue: #9bb7d6; // #81a1c1;
$ansiBrightMagenta: #ee9fa4; // #b48ead;
$ansiBrightCyan: #abd7d6; // #8fbcbb;
$ansiBrightWhite: #f6f4cf; // #eceff4;

$selectionForeground: #f3f3f3;
$selectionBackground: #292d36;
