$background: #081b21;
$foreground: #e7e0d7;
$ansiBlack: #102c33;
$ansiRed: #b34f52;
$ansiGreen: #8cbca1;
$ansiYellow: #887a67;
$ansiBlue: #65778b;
$ansiMagenta: #e7657d;
$ansiCyan: #67b3b0;
$ansiWhite: #f2f0c2;
$ansiBrightBlack: #2b5e70;
$ansiBrightRed: #dc6253;
$ansiBrightGreen: #aed6b5;
$ansiBrightYellow: #bcb096;
$ansiBrightBlue: #9bb7d6;
$ansiBrightMagenta: #ee9fa4;
$ansiBrightCyan: #abd7d6;
$ansiBrightWhite: #f6f4cf;

$selectionForeground: #f3f3f3;
$selectionBackground: #292d36;
